#chat-screen {
    background-color: #abc1d1;
    height: 1000vh;
}

#chat-screen .alt-header {
    top: 15px;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
    z-index: 1;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;
}

.main-chat{
    margin-top: 120px;
}